aside {
  color: var(--spotifyLightGrey);
  margin: 8px 8px 14px 8px;
  height: 100%;
}

/* TOP BOX */
.top-box {
  background-color: var(--boxColor);
  height: 10vh;
  min-height: 120px;
  padding: 20px; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.top-box .btn:hover {
  color: white;
}

/*BOTTOM BOX */
.bot-box {
  margin-top: 10px;
  background-color: var(--boxColor);
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 5px;
  height: 90vh;
}

.bot-box-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.bot-box-row1 .btn:hover:first-child,
.fa-magnifying-glass:hover,
.recentBtn:hover{ color: white;}
/**/
.bot-box-row2 {
  display: flex;
  gap: 8px;
  position: relative;
  overflow-x: scroll;
}

.bot-box-row2::-webkit-scrollbar {display: none;}

.filterBtn {
  padding: 10px;
  border-radius: 100px;
  color: rgb(233, 233, 233);
  background-color: var(--background-tinted-highlight);
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.filterBtn:hover {
 opacity: 0.9;
}



.cmd {
  border-radius: 100px;
  padding: 10px;
  transition: background-color 0.2s ease;
}
.cmd:hover { 
  background-color: var(--hoverColor); 
  opacity: 0.7;
}

.bot-box-row3 {
  justify-content: space-between;
}

/***/
/***/

section.biblio {
  height: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  padding-bottom: 10px;
}

@media (height < 850px) {
  section.biblio {
    height: 65%;
  }
}

.shelf {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
}
.shelf:hover {
  background-color: rgb(48, 48, 48);
  border-radius: 5px;
}

.shelf img {
  width: 18%;
  border-radius: 5px;
}

.info1 {
  color: white;
}

.info2 {
  font-size: 0.8rem;
}

/*utility classes*/
.btn {cursor: pointer;}
.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}