/*TABLETS*/
@media (width <= 905px) {
  :root {
    --asideWidth: 25%;
  }
  .top-box {height: 100%;}
  .bot-box {display: none;}

 

  .cards {
    
    grid-template-columns: repeat(6, 160px);
    overflow-x: scroll;
  }
}

/* MOBILE */
@media (width <= 670px) {
  aside {
    display: none;
  }
  body {
    display: block;
  }
  .top-music-grid .fa-solid {
    display: none !important;
  }
}  

@media (width <= 540px) {
  .top-music-grid {
    grid-template-rows: repeat(2, 50px);
  }
  
  .top-music-grid p{
    font-size: 0.875em; 
  }
  .top-music-grid div img {
    width: 50px;
    height: 50px; 
  }
}